.call-form
   display: flex
   align-items: center
   justify-content: space-between
   padding: 37px 48px
   border-radius: 62px
   background: linear-gradient(-21deg, $link-color 0%, $gradient-color 100%)

   &__input
      width: 242px
      background-color: transparent
      border: none
      border-bottom: 2px solid $white
      color: $white
      line-height: 33px

      &::-webkit-input-placeholder
         color: $white

      &:-moz-placeholder
         color: $white

      &::-moz-placeholder
         color: $white

      &:-ms-input-placeholder
         color: $white

   &__field
      display: flex
      align-items: center

      &:not(:last-child)
         margin-right: 69px

      &s
         display: flex
         align-items: center

   &__icon
      margin-right: 23px

   &__link
      color: $white

   &__select
      border: none
      background: transparent url(../img/arrow-down.png) no-repeat right center
      color: $white
      appearance: none
      padding-right: 15px

@media (min-width: 992px)
   .call-form

      &__select

         &:hover
            color: $white !important
            cursor: pointer
            background-color: #3895e7 !important
