.footer-bottom
   display: flex
   justify-content: space-between

   &__author-site
      padding-right: 90px

@media (max-width: 991px)
   .footer-bottom
      justify-content: space-around

      &__author-site
         padding-right: 0