@import 'footer-top'
@import 'footer-middle'
@import 'footer-bottom'

.footer
   background: url(../img/footer-bg.jpg) no-repeat
   background-size: cover
   padding-top: 146px
   padding-bottom: 54px

   &__top
      margin-bottom: 125px

   &__middle
      margin-bottom: 53px