.visit
   padding-top: 30px
   padding-bottom: 100px
   position: relative

   &__form-wrap
      position: relative
      z-index: 17
      margin-top: 143px

   &__question

      &_blue
         color: $link-color

   &__bg
      position: absolute
      top: 25%
      left: 5%
      z-index: 7

@media (max-width: 991px)
   .visit
      padding-bottom: 50px

      &__bg
         display: none

      &__question
         text-align: center

      &__form-wrap
         margin-top: 100px

@media (max-width: 767px)
   .visit

      &__form-wrap
         margin-top: 60px

@media (max-width: 479px)
   .visit
      padding-bottom: 25px

      &__question
         line-height: 22px

         &_blue
            display: block