.visit
   padding-top: 30px
   padding-bottom: 300px
   background: url(../img/tooth.png) no-repeat left 6% bottom 27%

   &__form-wrap
      margin-top: 140px

   &__question

      &_blue
         color: $link-color