.header-bottom
   display: flex
   align-items: center
   justify-content: space-between
   flex: 1

   &__slider
      margin-top: 140px

   &__title
      margin-bottom: 30px

   &__description
      max-width: 445px
      line-height: 25px
      font-size: 1.0714em

@media (max-width: 991px)
   .header-bottom
      margin-bottom: 50px

      &__image
         display: none

      &__slider
         width: 100%
         margin-top: 60px

      &__description
         max-width: 70%
         margin: auto

@media (max-width: 767px)
   .header-bottom

      &__slider
         margin-top: 30px

      &__description
         max-width: 75%

@media (max-width: 575px)
   .header-bottom

      &__description
         max-width: 90%